MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxx.mongodb.net/ics385?retryWrites=true&w=majority
SESSION_SECRET=replace_with_long_random_string
ADMIN_EMAIL=admin@mauiluxury.example.com
ADMIN_PASSWORD=replace_with_strong_password
VITE_WEATHER_KEY=your_openweathermap_key_here