.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

/* Play button styling: larger and matching site font/color */
#play-btn {
  font-family: 'Indie Flower', cursive;
  color: #4ECCA3;
  background: transparent;
  border: 2px solid #4ECCA3;
  padding: 0.5rem 1rem;
  font-size: 3rem; /* visually larger */
  border-radius: 8px;
  cursor: pointer;
}

#play-btn:focus {
  outline: none;
}
